<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
  <script>
  	// Initialize Firebase
  	var config = {
    	apiKey: "AIzaSyBwdXnYKXK3Tk9O1T3Pt3i40Jnem4HYgzk",
    	authDomain: "kelpa-61adc.firebaseapp.com",
    	databaseURL: "https://kelpa-61adc.firebaseio.com",
    	storageBucket: "kelpa-61adc.appspot.com",
  	};
  	firebase.initializeApp(config);
	</script>
</html>
