<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="home">

  </body>
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
  <script>
  	// Initialize Firebase
  	var config = {
    	apiKey: "AIzaSyBwdXnYKXK3Tk9O1T3Pt3i40Jnem4HYgzk",
    	authDomain: "kelpa-61adc.firebaseapp.com",
    	databaseURL: "https://kelpa-61adc.firebaseio.com",
    	storageBucket: "kelpa-61adc.appspot.com",
  	};
  	firebase.initializeApp(config);
	</script>
</html>
