<!DOCTYPE html>
<html ng-app="home">
  <head>
    <title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- anything typed in here is magically saved to our Firebase database! -->
    <!-- anything typed in here is magically saved to our Firebase database! -->
    <div>
      <h1>Music Mixer</h1>
    </div>
  </body>
  
  <script src="/javascripts/music_mixer.js"></script>
</html>
