<html>
	<head>
		<script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
		<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
	</head>
	<body>
		<h1>Music List</h1>

	</body>
	<script src="/javascripts/music_list.js"></script>

</html>