<!DOCTYPE html>
<html lang="en" ng-app="musicMixer">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Mixer</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/rzslider.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>

  <body>
    <!-- header -->
    <div ng-include src="'/header/header.ejs'"></div>


    <div>
      <h1>Music Mixer</h1>
    </div>
    <div ng-controller="musicMixer">
      <h2>Pitch Detector</h2>

      <button type="button" class="btn btn-primary" ng-click="generatePitch300()">300 Hz</button>
      <button type="button" class="btn btn-primary" ng-click="generatePitch350()">350 Hz</button>
      <button type="button" class="btn btn-primary" ng-click="generatePitch400()">400 Hz</button>
      <button type="button" class="btn btn-primary" ng-click="generatePitch450()">450 Hz</button>
      <button type="button" class="btn btn-primary" ng-click="generatePitch500()">500 Hz</button>
      <button type="button" class="btn btn-primary" ng-click="generatePitch550()">550 Hz</button>
      <button type="button" class="btn btn-primary" ng-click="generatePitch600()">600 Hz</button>
      <button type="button" class="btn btn-primary" ng-click="generatePitch650()">650 Hz</button>
      <button type="button" class="btn btn-primary" ng-click="generatePitch700()">700 Hz</button>
      <br>
      <br>
      <button type="button" class="btn btn-primary" ng-click="startPitch()">START</button>
      <button type="button" class="btn btn-danger" ng-click="stopPitch()">STOP</button>
      <div>
        <rzslider
         rz-slider-model="sliderSnareVolume"
         rz-slider-options="slider.options"></rzslider>
      </div>
      <br><br>
      <button type="button" class="btn btn-primary" ng-click="playSong()">Play Song</button>
      <button type="button" class="btn btn-danger" ng-click="stopSong()">Stop Song</button>
    </div>
    <div ng-controller="bandJS">
      <h3>Music Mixer</h3>

        <button type="button" class="btn btn-primary" ng-click="playMixedSong()">Play Mixed Song</button>
        <button type="button" class="btn btn-primary" ng-click="stopMixedSong()">Stop Mixed Song</button>
    </div>
    <div ng-controller="mixer">
      <h3>Composer</h3>

        <button type="button" class="btn btn-primary" ng-click="playE()">E</button>
        <button type="button" class="btn btn-primary" ng-click="playF()">F</button>
        <button type="button" class="btn btn-primary" ng-click="playG()">G</button>
        <button type="button" class="btn btn-primary" ng-click="playA()">A</button>
        <button type="button" class="btn btn-primary" ng-click="playB()">B</button>
        <button type="button" class="btn btn-primary" ng-click="playC()">C</button>
        <button type="button" class="btn btn-primary" ng-click="playD()">D</button>
        <button type="button" class="btn btn-primary" ng-click="playE()">E</button>



    </div>
    <br><br>
    <div id="composerPad" ng-controller="pad">
      <section id="sp">
        <div id="pad1" data-sound="kick.wav"></div>
        <div id="pad2" data-sound="snare.wav"></div>
        <div id="pad3" data-sound="tin.wav"></div>
        <div id="pad4" data-sound="hat.wav"></div>
      </section>
    </div>
  </body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/4.0.2/rzslider.min.js"></script>
    <!-- Load the (very useful script) that helps you load audio files. -->
    <script src="http://www.html5rocks.com/en/tutorials/webaudio/intro/js/buffer-loader.js"></script>
    <!-- Band.JS Files -->
    <script src="//cdn.rawgit.com/meenie/band.js/1.1.2/dist/band.min.js"></script>

    <script src="/javascripts/music_mixer.js"></script>


</html>
