<!-- My crude HTML webpage -->
<body>
  <button type="button" onclick="playSong()">Play my favorite song!</button>
  <br><br>
  <button type="button" onclick="stopSong()">Stop my favorite song :/</button>
</body>


<!-- Load the (very useful script) that helps you load audio files. -->
<script src="http://www.html5rocks.com/en/tutorials/webaudio/intro/js/buffer-loader.js"></script>

<!--- Our code goes here... -->
<script src="/javascripts/playSongTest.js"></script>